<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng dẫn API</title>
    <link rel="shortcut icon" href="https://static.thenounproject.com/png/1981384-200.png"/>
    <style>
        .do {
            color: red;
        }
    </style>
</head>
<body>
    <h2 class='do'>Server: http://watermelish.herokuapp.com/</h2><hr>
    <h2 class='do'>Update: 01/12/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/xacnhanhocmottu/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result: ok </li>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/thongke/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result: Mảng 5 phần tử </li>
            <li>Ngày hôm nay, Tổng điểm, Tổng số từ, Số từ đã học trong ngày, Mục tiêu số từ học mỗi ngày</li>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/checktaobotu/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div><b>Kiểm tra có đủ điểm để tạo bộ từ mới hay không</b></div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <li>Có thể</li>
            <li>Không thể</li>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/xoabotu/&lt;username>/&lt;tenbotu>", methods=["GET"])</h2>
        <div>Parameters: username, tenbotu (tên bộ từ)</div>
        <div>Xóa bộ từ</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <li>Thành công</li>
            <li>Thất bại</li>
        </ul>
    </div><hr>
    <h2 class='do'>Update: 30/11/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/gametracnghiem/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <div>Mỗi 1 câu hỏi là 1 lần call api</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Mảng gồm 4 phần tử mảng</li>
                <li>Mảng 1 chứa 1 phần tử là Câu hỏi</li>
                <li>Mảng 2, 3 & 4 chứa 2 phần tử là phương án và (0: sai, 1: đúng) </li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/diemcacgamecaonhat/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Mảng gồm 3 phần tử</li>
                <li>Trắc nghiệm, Ghép cặp, Điền từ </li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/ketquagame/&lt;username>/&lt;game>/&lt;int:score>", methods=["GET"])</h2>
        <div>Parameters: username, game ("gametracnghiem", "gameghepcap", "gamedientu"), score (điểm hiện tại)</div>
        <div>Trả về điểm cao nhất, nếu điểm hiện tại cao hơn điểm cao nhất trước đó thì cập nhật database</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Điểm cao nhất của game đó (max(maxScore, score)) </li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/hocbotu/&lt;username>/&lt;tenbotu>", methods=["GET"])</h2>
        <div>Parameters: username, tenbotu (tên bộ từ)</div>
        <div>Học bộ từ, trả về 1 trong 3 game (trắc nghiệm, ghép cặp, điền từ)</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Mảng 2 phần tử</li>
                <ul>
                    <li>Loại game </li>
                    <li>Mảng dữ liệu <b>(đọc lại 3 game kia)</b> </li>
                </ul>
            </ul>
        </ul>
    </div> <hr>
    <h2 class='do'>Update: 19/11/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/gameghepcap/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <div>Khi người chơi đã chơi hết mà còn thời gian thì tiếp tục call tiếp api này, mỗi lần trả ra 6 ô (3 từ)</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Thiếu từ</li>
                <li>Một mảng 6 phần tử</li>
                <li>Mỗi phần tử này lại là 1 mảng gồm: text, value_match</li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/gamedientu/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <div>Mỗi lần chuyển màn hình là 1 lần call api, luôn thiếu 2 kí tự!</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Thiếu từ</li>
                <li>Một mảng 5 phần tử</li>
                <li>Từ bên trái, Từ bên phải, Từ ban đầu, Từ loại, Nghĩa (mục đích gợi ý hoặc hiện thị sau khi trả lời)</li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/thembotumoi/&lt;username>/&lt;tenbotu>", methods=["GET"])</h2>
        <div><b>BACKGROUND BÊN FRONTEND RANDOM TRONG 1 TẬP BACKGROUND TÌM TRƯỚC CHO DỄ</b></div>
        <div>Parameters: username, tenbotu (tên bộ từ)</div>
        <div>Body (form): listword, ví dụ: "["a", "b", "c"], ["d", "e",   "f"]" (1 tring các từ (tiếng anh, từ loại, nghĩa))</div>
        <div>Front-end xử lý tách sâu ở input 1 để lấy 2 cái: từ tiếng anh và từ loại</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Thành công</li>
                <li>Thất bại</li>
                <li>Tên bộ từ trùng lặp</li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/chinhsuabotu/&lt;username>/&lt;tenbotucu>/&lt;tenbotumoi>", methods=["GET"])</h2>
        <div>Tương tự thêm bộ từ mới</div>
        <div>Parameters: username, tenbotucu, tenbotumoi (2 cái có thể giống nhau)</div>
        <div>Body (form): listword, ví dụ: "["a", "b", "c"], ["d", "e",   "f"]" (1 tring các từ (tiếng anh, từ loại, nghĩa))</div>
        <div>Front-end xử lý tách sâu ở input 1 để lấy 2 cái: từ tiếng anh và từ loại</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Thành công</li>
                <li>Thất bại</li>
                <li>Bộ từ không tồn tại</li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/danhsachbotu/&lt;username>/&lt;botu>", methods=["GET"])</h2>
        <div>Parameters: username, botu (tên bộ từ)</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Một mảng các từ</li>
                <li>Mỗi từ là 1 mảng gồm 3 phần tử, tiếng Anh, từ loại và nghĩa</li>
            </ul>
        </ul>
    </div>
    <div class = 'element'>
        <h2>@app.route("/danhsachcacbotu/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Một mảng các tên bộ từ</li>
                <li>Không có</li>
            </ul>
        </ul>
    </div> <hr>

    <h2 class='do'>Update: 28/10/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/datmuctieu/&lt;username>/&lt;int:target>", methods=["GET"])</h2>
        <div>Parameters: username, target</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>"Thành công"</li>
                <li>"Thất bại"</li>
            </ul>
        </ul>
    </div>

    <div class = 'element'>
        <h2>@app.route("/muctieuhientai/&lt;username>", methods=["GET"])</h2>
        <div>Parameters: username</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Số tự nhiên</li>
                <li>null/"Không có"</li>
            </ul>
        </ul>
    </div>

    <div class = 'element'>
        <h2>@app.route("/chinhsuathongtin", methods=["POST"])</h2>
        <div>Parameters: username, oldpassword, newpassword, name</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Thành công</li>
                <li>"Thất bại"/"Sai mật khẩu"</li>
            </ul>
        </ul>
    </div>

    <hr>

    <h2 class='do'>Update: 27/10/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/timtu/&lt;username>/&lt;stringSearch>", methods=["GET"])</h2>
        <div>ví dụ interlet ⇒ internet</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>Một mảng các mảng 3 phần tử [tuTiengAnh, tuLoai, nghiaTiengViet]</li>
                <li>Không tìm thấy</li>
            </ul>
        </ul>
    </div>
    <hr>


    <h2 class='do'>Update: 26/10/2020</h2>
    <div class = 'element'>
        <h2>@app.route("/dangnhap", methods=["POST"])</h2>
        <div>Parameters: username, password, ví dụ {"username": "nhom13", "password": "nhom13"}</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>_id</li>
            <ul>
                <li>Một string, ví dụ "5f963c2dcca964d848d80d66"</li>
                <li>-1 ⇒ Có thể sai username hoặc password</li>
            </ul>
        </ul>
    </div>

    <div class = 'element'>
        <h2>@app.route("/kiemtrataikhoan/&lt;username&gt;", methods=["GET"])</h2>
        <div>Mục đích: Kiểm tra xem tài khoản đã tồn tại hay chưa</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>exist_account</li>
            <ul>
                <li>"yes": tài khoản đã tồn tại ⇒ đăng ký không thành công</li>
                <li>"no": tài khoản chưa tồn tại ⇒ <b>có thể</b> đăng ký username mới này</li>
            </ul>
        </ul>
    </div>

	<div class = 'element'>
        <h2>@app.route("/dangky", methods=["POST"])</h2>
        <div>Parameters: username, password, name, ví dụ {“username”: “nhom13”, “password”: “nhom13”, “name”: “aa”}</div>
        <div>Return 1 mảng 1 phần tử</div>
        <ul>
            <li>result</li>
            <ul>
                <li>"thành công"</li>
                <li>"thất bại"</li>
            </ul>
        </ul>
    </div>
</body>
</html>